<section class="article-list">

        {% for article in articles %}
        <article class="article-listed article-{{ texthandler.translateWeight(article.weight) }}">
            <div class="article-category">
                <a href="#" class="url-link">
                    {{ texthandler.reverseCategory(article.category) | raw }}</a>
            </div>
            <div class="article-inside">
                <div class="article-image">
                    <img src="{{ article.image }}"  alt="">
                </div>
                <div class="article">
                    <h1 class="headingband">{{ article.titre }}</h1>
                    <div class="article-heading">Écrit le {{ article.date_creation | date('d/m/Y') }} à {{ article.date_creation | date('H:i') }}, par {{ article.author }}.
                        <span class="comment-count" href="#">
                            <a href="{{ path('article_read', {'id' : article.id })}}#comment-count">{{ article.comment_count }}</a>
                        </span>
                    </div>
                    <div class="article-content">
                        {{ texthandler.raccourcir(article.content, article.weight) }}
                    </div>
                    <a href="{{ path('article_read', {'id' : article.id })}}"> <div class="article-more">Lire la suite</div></a>
                </div>
            </div>
        </article>
        {% endfor %}
    
    </section>