{% extends 'base.html.twig' %} {% block title %} {{ article.titre }}{% endblock %}
{% block stylesheets %} 
<link rel="stylesheet" href="{{ asset('assets/css/article_list.css') }}"> 
<link rel="stylesheet" href="{{ asset('assets/css/read.css') }}"> 
{% endblock %}
{% block body %}

<!-- articles -->
<section class="article-view">

    <article class="article-viewed main-section">
        <div class="article-category">
            <a href="{{ path('article_thorough', { 'keyword' : '*', 'categories' : article.category }) }}" class="url-link">
                    {{ texthandler.reverseCategory(article.category) | raw }} {{ article.category }}</a>
        </div>
        <div>
            <div class="article-image">
                <img src="{{ article.image }}" alt="">
            </div>
            <div class="article">
                <div class="article-heading"><span class="list-authordate">Écrit le {{ article.datecreation | date('d/m/Y') }} 
                        à {{ article.datecreation | date('H:i') }}, par {{ article.author.login }}. 
                    </span>
                    {% if is_granted('edit', article) %}
                    <span class="admin-edit-tools">
                        <a href="{{ path( 'edit_article', { 'id' :  article.id  }) }}"><i class="far fa-edit"></i></a>
                        <span class="openmodal iconbutton hoverable">
                                <i class="fas fa-trash-alt"></i>
                        <div class="modalbg" >
                            <div class="modalcontent">
                                <div class="modalcross hoverable cancelmodal"><i class="fas fa-times"></i></div>
                                <h1>Confirmer la suppression</h1>
                               <p> Êtes-vous sûr ? En appuyant sur ce lien, vous confirmez la suppression définitive de votre article ...</p>
                                <a href="{{ path('remove_article', { 'id' : article.id }) }}">
                                    <button class="bouton">Je suis tout plein d'assurance</button></a>
                                    <button class="bouton cancelmodal">No, Who am-I kidding !</button>
                            </div>
                        </div>
                        </span>
                    </span>
                    {% endif %}
                </div>
                <div class="article-content">
                    <h1>{{ article.titre }}</h1>
                    {{ article.content | raw }}
                </div>

                <div id="previous-or-next">
                {% if previous is not null %}
                <a href="{{ path('article_read', {'id' : previous })}}" class="bouton previous-article">
                        <i class="fas fa-arrow-left"></i> Article précédent</a>
                {% endif %}
                {% if next is not null %}
                <a href="{{ path('article_read', {'id' : next })}}" class="bouton next-article">Article suivant
                    <i class="fas fa-arrow-right"></i>
                </a>
                {% endif %}
                </div>

                <div class="article-footer resp-hsize">
                    <span>
                        <span class="dispensable">COMMENTAIRES UTILISATEURS</span>
                        <span id="comment-count" class="comment-count">{{ commentcount }}</span>
                    </span>
                    <span class="socialsharing">
                        <span class="social-before">PARTAGER CET ARTICLE </span>
                        <a href="#" class="url-link">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="url-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-reddit-square"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
{% if comments is not empty %}
        <section id="comments-section">
            <spand id="first-post"></spand>
            {% for comment in comments %}
            <div {% if comment.id == anchor %} id="anchor" {% endif %} class="single-comment">
                <div class="comment-leftpanel">
                    <span class="login">{{ comment.author.login }}</span>
                    <span class="subtitle">{{ comment.author.subtitle }}</span>
                    <span>
                        {% if comment.author.signature is not null %}
                        <img class="avatar img-centered" src="{{ comment.author.avatar }}">
                        {% else %}
                        <img class="avatar img-centered" src="http://via.placeholder.com/90x90">
                        {% endif %}
                    </span>
                    <span class="localisation">{{ comment.author.localisation }}</span>
                </div>
                <div class="comment-rightpanel">
                    <div class="comment-header">
                        <span class="comment-date">Posté le {{ comment.datecreation | date('d/m/Y') }} à {{ comment.datecreation | date('H:i') }}.</span>
                        {% if is_granted('edit', comment) %}
                        <span class="comment-edit-tools">
                            <a href="{{ path( 'edit_comment', { 'id' :  article.id, 'commentid' : comment.id, 'index' : commentnavigation.index   }) }}">
                                <i class="far fa-edit"></i>
                            </a>
                        <span class="openmodal iconbutton hoverable">
                                <i class="fas fa-trash-alt"></i>
                        <div class="modalbg" >
                            <div class="modalcontent">
                                <div class="modalcross hoverable cancelmodal"><i class="fas fa-times"></i></div>
                                <h1>Confirmer la suppression</h1>
                               <p> Êtes-vous sûr ? En appuyant sur ce lien, vous confirmez la suppression définitive de votre commentaire ...</p>
                                <a href="{{ path( 'remove_comment', { 'id' :  article.id, 'commentid' : comment.id, 'index' : commentnavigation.index }) }}">
                                    <button class="bouton">Je suis tout plein d'assurance</button></a>
                                    <button class="bouton cancelmodal">No, Who am-I kidding !</button>
                            </div>
                        </div>
                        </span>
                        </span>
                        {% endif %}
                        <span class="comment-id">#{{ comment.id }}</span>
                    </div>
                    <div class="comment-content">{{ comment.content | raw }}</div>
                    {% if comment.author.signature is not null %}
                    <div class="comment-signature">{{ comment.author.signature }}</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="list-navigation"> 
                {% if commentnavigation.end < 12 %}
                    {% for i in commentnavigation.start .. commentnavigation.end %}
                        {% if commentnavigation.index == i %}
                        <span id = "current-page"> {{ i }}</span>
                        {% else %}
                        <a href="{{ path('browse_comment', {'id' : article.id , 'index' : i }) }}"> {{ i }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                {% for i in commentnavigation.start ..  min(3, max(commentnavigation.index - 4, 3)) %}
                {% if commentnavigation.index == i %}
                <span id = "current-page"> {{ i }}</span>
                {% else %}
                <a href="{{ path('browse_comment', {'id' : article.id , 'index' : i }) }}"> {{ i }}</a>
                {% endif %}
                {% endfor %}
                {% if commentnavigation.index > 7 %}
                <span class> ... </span>
                {% endif %}
                {% for i in max(4, commentnavigation.index - 3) .. min(commentnavigation.end, commentnavigation.index + 3) %}
                    {% if commentnavigation.index == i %}
                    <span id = "current-page"> {{ i }}</span>
                    {% else %}
                    <a href="{{ path('browse_comment', {'id' : article.id , 'index' : i }) }}"> {{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if commentnavigation.end > commentnavigation.index +3 %}
                <span class> ... </span>
                <a class = "last-page" href="{{ path('browse_comment', {'id' : article.id , 'index' : commentnavigation.end }) }}"> {{ commentnavigation.end }}</span>
                {% endif %}
                {% endif %}
            </div>
        </section>
    {% endif %}
    </article>
</section>

{% if commentform is not null %}

<section class="comment-form main-section" {% if editmode %}id="editmode"{% endif %}>
    <h1>Partager votre réaction à cet article </h1>
{{ form_start(commentform) }}
{{ form_row(commentform.content, {'attr' : {'placeholder' : "Exprimez-vous ! :) ", 'label' : "TESTYTEST" }}) }}
            <button type="submit" onclick="" class="bouton">
                Répondre
            </button>
{{ form_end(commentform) }}
<p>N'oubliez pas que les propos que vous publiez en ligne peuvent heurter votre audience, en publiant un commentaire
        vous acceptez <a href="{{ path('rules') }}">nos règles de modération.</a>
</p>
</section>

{% else %}
<a href="{{ path('login') }}"> <button id="connect-to-comment" class="bouton">Connectez-vous pour ajouter un commentaire !</button></a>

{% endif %} 



<div id = "down-carousel">
{% include 'articles/carousel.html.twig' %}
</div>
{% endblock %} 

{% block javascripts %}
<script src="{{ asset('assets/js/article_read.js') }}"></script> 
<script src="{{ asset('assets/js/ckeditor_public/ckeditor.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/js/ckeditor_public/adapters/jquery.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $('textarea.ckeditor').ckeditor();
    });
</script>
{% endblock %}