{% extends 'base.html.twig' %}

{% block title %}Rechercher un article{% endblock %}
{% block stylesheets %} 
<link rel="stylesheet" href="{{ asset('assets/css/search.css') }}">
 <link rel="stylesheet" href="{{ asset('assets/css/article_view.css') }}"> 
 {% endblock %}

{% block body %}

<section class="search-panel">
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    <button type="submit" onclick="" class="bouton search_input">
            <i class="fas fa-search"></i>
            </button>
    {{ form_end(searchForm) }}
</section>

{% include 'articles/article-list.html.twig' %}

{% endblock %}