<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - GG Weblog</title>
    {% block bootstrap %}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <link rel="icon" 
      type="image/png" 
      href="{{ asset('assets/images/favicon.png') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    

    {% block stylesheets %}
    {% endblock %}




</head>

<body>
    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-logo">
                <span>
                    <a href="{{ path('home') }}" class="url-link">
                        <i class="fas fa-home"></i>
                    </a>
                </span>
                <span>
                    <span id="search-icon" class="url-link">
                        <i class="fas fa-search"></i>
                    </span>
                    <span id="search-form-sm">
                        <form action="{{ path('article_search') }}" method="GET" id="navsearchform">
                            <input name="keyword" type="search">
                        </form>
                    </span>
                </span>

            </div>

            <nav role="navigation">
                <ul class="header-menu">
                    <li class="burger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                        <ul class="burger-content">
                            <li>
                                <a href="{{ path('account') }}">
                                    <i class="fas fa-user"></i> {% if not app.user %} Connexion {% else %} Profil {% endif %}</a>
                            </li>
                            {% if is_granted('ROLE_PUBLISHER') %}
                            <li>
                                    <a href="{{ path('create_article') }}">
                                        <i class="far fa-edit"></i> Rédiger
                                    </a>
                            </li>
                            {% endif %}

                            <li>
                                <a href="https://github.com/GabrielPoint">
                                    <i class="fab fa-github-square"></i> Github
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('projects') }}">Mes travaux</a>
                            </li>
                            <li>
                                <a href="{{ path('about') }}">A propos</a>
                            </li>
                            <li>
                                <a href="{{ path('contact') }}">Contact</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-itm-xl connexion-icon">
                        <a href="{{ path('account') }}" id="account-icon">
                            <i class="fas fa-user"></i>
                        </a>
                        <div id="connexion-dropdown">
                            {% if not app.user %}
                            <form action="{{ path('login') }}" method="POST">
                                <label for="_username">Login :</label>
                                <input name="_username" type="text">
                                <label for="_password">Mot de passe :</label>
                                <input name="_password" type="password">
                                <button type="submit" onclick="" class="bouton">
                                    Connexion
                                </button>
                                <a href="{{ path('register') }}" class="register">S'inscrire</a>
                            </form>
                            {% else %}
                            Bienvenue, {{ user.login }}
                            <div class="dpdwn-profile">
                            <a href="{{ path('account') }}" class="account">
                                    <i class="fas fa-user-edit"></i>
                                    Profil
                            <img src="{{ user.avatar }}" id="user_avatar" alt="">
                                    </a>
                                <a href="{{ path('logout') }}" class="logout bouton">Déconnexion</a>
                            </div>
                            {% endif %}

                        </div>
                    </li>
                    {% if is_granted('ROLE_PUBLISHER') %}
                    <li>
                        <a href="{{ path('create_article') }}" class="dispensable">
                            <i class="far fa-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_PUBLISHER') %}
                    <li>
                        <a href="{{ path('admin') }}" class="dispensable">
                            <i class="fas fa-unlock-alt"></i>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="https://github.com/GabrielPoint">
                            <i class="fab fa-github-square"></i>
                        </a>
                    </li>
                    <li class="menu-itm-xl">
                        <a href="{{ path('projects') }}">Mes travaux</a>
                    </li>
                    <li class="menu-itm-xl">
                        <a href="{{ path('about') }}">A propos</a>
                    </li>
                    <li class="menu-itm-xl">
                        <a href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Banner -->
        <div class="banner">
            <img src="{{ asset('assets/images/sep1.png') }}" class="img-centered" alt="Séparateur">
            <div class="banner-content">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('assets/images/banner_1600.png') }}" class="img-centered" alt="Bannière du site">
                </a>
                <h1 class="banner-categories">
                    <a href="{{ path('article_thorough', { 'categories' : 'IT', 'keyword' : '*' }) }}" class="url-link">IT</a> -
                    <a href="{{ path('article_thorough', { 'keyword' : '*' , 'categories' : 'Neuro' }) }}" class="url-link">Neuro</a> -
                    <a href="{{ path('article_thorough', { 'keyword' : '*' , 'categories' : 'Socio' }) }}" class="url-link">Socio</a> -
                    <a href="{{ path('article_thorough', { 'keyword' : '*' , 'categories' : 'Psycho' }) }}" class="url-link">Psycho</a> -
                    <a href="{{ path('article_thorough', { 'keyword' : '*' , 'categories' : 'Cinéma' }) }}" class="url-link">Cinéma</a>
                    <a href="{{ path('article_thorough', { 'keyword' : '*' , 'categories' : 'Autres' }) }}" class="url-link">etc.</a>
                </h1>
            </div>
            <img src="{{ asset('assets/images/sep1.png') }}" class="img-centered" alt="Séparateur">
        </div>
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet totam inventore ratione modi voluptatibus cupiditate debitis
        reprehenderit facilis quo autem iure delectus eaque veritatis maiores libero, voluptate architecto sapiente culpa.
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quaerat sint amet voluptate sunt dolores fuga omnis ex incidunt minus enim quas, illum ipsam ut nemo? Rerum sed earum adipisci?</p>
        <p>Dolore temporibus minima iusto inventore maiores, exercitationem quasi natus maxime cumque et nam quibusdam nemo dolores magnam aliquid recusandae iste consequuntur. Illo dicta eius id consequatur asperiores autem atque aperiam.</p>
        <p>Ea, necessitatibus. Ipsam, in nihil! Ipsum illo rem veritatis quo totam. Voluptas tempora rerum cumque ex cupiditate. Laborum quas ipsam omnis mollitia molestias blanditiis tenetur, pariatur excepturi cupiditate iure. Placeat.</p>
        <p>Quam asperiores corporis illum ratione assumenda, hic ex quo aperiam quibusdam enim labore fugiat, inventore corrupti? Necessitatibus eaque eveniet nemo exercitationem repellat reiciendis amet consequatur corrupti, eum aut quaerat ipsam?</p>
        <p>Nisi sapiente incidunt ea voluptatibus facere placeat aut vero, inventore quidem ex quia doloribus commodi obcaecati alias vitae! Laborum corporis aperiam aspernatur molestiae sint iusto nihil ex non accusantium ab.</p>
        <p>Ipsam soluta, enim neque repellat odio nulla, animi aspernatur obcaecati omnis quo nam cumque eligendi! Esse tempore sapiente minima quos quidem aperiam ullam non, corporis illo odio quas, voluptate tenetur.</p>
        <p>Dignissimos maxime fugiat eligendi saepe, consectetur voluptate quo consequuntur quasi placeat aut alias animi sequi sint quod repellat eveniet obcaecati rem doloremque aspernatur aperiam vero! Ipsam aut magni possimus similique?</p>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>

<script src="{{ asset('assets/js/main.js') }}"></script>

{% block javascripts %}
{% endblock %}

</html>