<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - GG Weblog</title>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    {% block stylesheets %}{% endblock %}




</head>

<body>
    <!-- Header -->
    <header>
        <div class="header-content">
            <ul class="header-logo">
                <li>
                    <a href="{{ path('home') }}" class="url-link">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="search-icon">
                    <a href="{{ path('article_search') }}" class="url-link">
                        <i class="fas fa-search"></i>
                    </a>
                    <ul class="search-form-sm">
                        <form action="#" novalidate>
                            <label for="searchbar-dpdwn">Rechercher un article :</label>
                            <input name="searchbar-dpdwn" type="search">
                            <button type="submit" onclick="" class="bouton">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </ul>
                </li>

            </ul>

            <nav role="navigation">
                <ul class="header-menu">
                    <li class="burger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                        <ul class="burger-content">
                            <li>
                                <a href="{{ path('account') }}">
                                    <i class="fas fa-user"></i> {% if not app.user %} Connexion {% else %} Profil {% endif %}</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-github-square"></i> Github
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('projects') }}">Mes travaux</a>
                            </li>
                            <li>
                                <a href="{{ path('about') }}">A propos</a>
                            </li>
                            <li>
                                <a href="{{ path('contact') }}">Contact</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-itm-xl connexion-icon">
                        <a href="{{ path('account') }}">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="connexion-dropdown">
                                {% if not app.user %}
                                <form action="{{ path('login') }}" method="POST">
                                        <label for="_username">Login :</label>
                                        <input name="_username" type="text">
                                        <label for="_password">Mot de passe :</label>
                                        <input name="_password" type="password">
                                        <button type="submit" onclick="" class="bouton">
                                            Connexion
                                        </button>
                                        <a href="{{ path('register') }}" class="register">S'inscrire</a>
                                    </form>
                                {% else %}
                                        <div class="dpdwn_profile">
                                                <a href="{{ path('account') }}" class="account">Profil personnel</a>
                                                <a href="{{ path('logout') }}" class="logout">Déconnexion</a>
                                        </div>
                                {% endif %}

                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-github-square"></i>
                        </a>
                    </li>
                    <li class="menu-itm-xl">
                        <a href="{{ path('projects') }}">Mes travaux</a>
                    </li>
                    <li class="menu-itm-xl">
                        <a href="{{ path('about') }}">A propos</a>
                    </li>
                    <li class="menu-itm-xl">
                        <a href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Banner -->
        <div class="banner">
            <img src="{{ asset('assets/images/sep1.png') }}" class="img-centered" alt="Séparateur">
            <div class="banner-content">
                <a href="{{ path('home') }}">
                <img src="{{ asset('assets/images/banner_resized1300x222.png') }}" class="img-centered" alt="Bannière du site"></a>
                <h1 class="banner-categories">
                    <a href="{{ path('article_search', {'keyword' : 'it' }) }}" class="url-link">IT</a> -
                    <a href="{{ path('article_search', {'keyword' : 'neuro' }) }}" class="url-link">Neuro</a> -
                    <a href="{{ path('article_search', {'keyword' : 'socio' }) }}" class="url-link">Socio</a> -
                    <a href="{{ path('article_search', {'keyword' : 'psycho' }) }}" class="url-link">Psycho</a> -
                    <a href="{{ path('article_search', {'keyword' : 'cinema' }) }}" class="url-link">Cinéma</a>
                    <a href="{{ path('article_search', {'keyword' : 'autres' }) }}" class="url-link">etc.</a>
                </h1>
            </div>
            <img src="{{ asset('assets/images/sep1.png') }}" class="img-centered" alt="Séparateur">
        </div>
    </header>

    {% block body %}{% endblock %}

    <footer>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet totam inventore ratione modi voluptatibus cupiditate debitis
        reprehenderit facilis quo autem iure delectus eaque veritatis maiores libero, voluptate architecto sapiente culpa.
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}

</html>